@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather&display=swap');

body {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Merriweather, sans-serif;
  margin: 4px;
  background: linear-gradient(rgb(12, 4, 87),rgb(12, 4, 87));
}

.blz {
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.rodape-cima {
  padding: 0.6% 9% 0.6% 9%;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(14, 4, 124),rgb(22, 3, 165));
  font-family: Merriweather;
  font-weight: 100;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 4%;
}

h2 {
  color: #ffffff;
  font-family: Merriweather;
}

label {
  color: #ffffff;
  font-size: 18px;
}

input {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  font-family: Merriweather;
  font-size: 15px;
  text-align: center;
  border: 1px solid #9babe0;
  border-radius: 5px;
  background-color: #b4b4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


li {
  margin-bottom: 2px;
  font-family: Merriweather;
  border-radius: 10px; 
}

button {
  border-radius: 10px; 
  margin-top: 2%; 
  background: rgb(30, 0, 255);
  background-color: linear-gradient(rgb(14, 4, 124),rgb(22, 3, 165));
  color: #fff;
  border: 1px solid #1b1b1b;
  box-shadow: 5px 5px 5px #000000;
  text-shadow: none;
  padding: 25px;
  font-size: 15px;
}

button:hover {
  background-color: rgb(56, 8, 214);
  color:white;
}

.rodape {
  padding: 0.5% 0.5% 0.5% 0.5%;
  text-align: center;
  background: linear-gradient(rgb(14, 4, 124),rgb(22, 3, 165));
  font-weight: 200;
  font-size: 30px;
  color:rgb(236, 170, 170);
  position: absolute;
  width: 100%;
  height: 100px;    
  line-height: 100px;
  margin-top: 5%;
}